language: node_js
node_js:
  - '6'
  - '8'
  - '10'
before_install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - pkg-config
      - libcairo2-dev
      - libpango1.0-dev
      - libjpeg8-dev
      - libgif-dev
      - gcc-4.9
      - g++-4.9
sudo: false
